{:paths     ["src"]
 :deps      {org.clojure/clojure        {:mvn/version "1.11.1"}
             org.postgresql/postgresql  {:mvn/version "42.5.0"}
             org.clojure/tools.logging  {:mvn/version "1.2.4"}
             babashka/process           {:mvn/version "0.3.11"}
             nrepl/nrepl                {:mvn/version "1.0.0"}
             com.taoensso/encore        {:mvn/version "3.24.0"}
             com.datomic/datomic-pro    {:mvn/version "1.0.6527"}
             com.taoensso/timbre        {:mvn/version "5.2.1"}
             com.fzakaria/slf4j-timbre  {:mvn/version "0.3.21"}
             org.slf4j/log4j-over-slf4j {:mvn/version "1.7.30"}
             org.slf4j/jul-to-slf4j     {:mvn/version "1.7.30"}
             org.slf4j/jcl-over-slf4j   {:mvn/version "1.7.30"}
             com.github.ivarref/hookd   {:mvn/version "0.1.20"}}
 :aliases   {:nrepl                  {:exec-fn   com.github.ivarref.case-1/start-nrepl-server!
                                      :exec-args {:block? true}}
             :break-after-ack {:exec-fn   com.github.ivarref.break-after-ack/do-test!
                               :exec-args {:block?   true}
                               :jvm-opts  ["-Djdk.attach.allowAttachSelf=true" "-XX:-OmitStackTraceInFastThrow"]}
             :break-single-conn-once {:exec-fn   com.github.ivarref.break-single-conn-once/do-test!
                                      :exec-args {:block?   false
                                                  :log-file "break-single-connection"}
                                      :jvm-opts  ["-Djdk.attach.allowAttachSelf=true" "-XX:-OmitStackTraceInFastThrow"]}
             :case1                  {:exec-fn   com.github.ivarref.case-1/do-test!
                                      :exec-args {:block?   false
                                                  :log-file "case1"}}
             :case2                  {:exec-fn   com.github.ivarref.case-2/do-test!
                                      :exec-args {:block?   false
                                                  :log-file "case2"}}}
 :mvn/repos {"my.datomic.com" {:url "https://my.datomic.com/repo"}}}

